In [10]:
#DataFrame由Series构成，Series由ndarray构成
import pandas as pd
titanic_survival=pd.read_csv("titanic_train.csv")
series_fare=titanic_survival['Fare']
print(type(series_fare))
print(series_fare[0:5])
series_name=titanic_survival["Name"]
print(series_name[0:5])

<class 'pandas.core.series.Series'>
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [12]:
#自己构造一个Series
from pandas import Series
fare_values=series_fare.values
name=titanic_survival["Name"]
name_values=name.values
# print(type(fare_values))
# print(fare_values)
name_fare=Series(fare_values,index=name_values)
print(name_fare)

Braund, Mr. Owen Harris                                        7.2500
Cumings, Mrs. John Bradley (Florence Briggs Thayer)           71.2833
Heikkinen, Miss. Laina                                         7.9250
Futrelle, Mrs. Jacques Heath (Lily May Peel)                  53.1000
Allen, Mr. William Henry                                       8.0500
Moran, Mr. James                                               8.4583
McCarthy, Mr. Timothy J                                       51.8625
Palsson, Master. Gosta Leonard                                21.0750
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)             11.1333
Nasser, Mrs. Nicholas (Adele Achem)                           30.0708
Sandstrom, Miss. Marguerite Rut                               16.7000
Bonnell, Miss. Elizabeth                                      26.5500
Saundercock, Mr. William Henry                                 8.0500
Andersson, Mr. Anders Johan                                   31.2750
Vestrom, Miss. Hulda Amanda Adolfina                           7.8542
Hewlett, Mrs. (Mary D Kingcome)                               16.0000
Rice, Master. Eugene                                          29.1250
Williams, Mr. Charles Eugene                                  13.0000
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)       18.0000
Masselmani, Mrs. Fatima                                        7.2250
Fynney, Mr. Joseph J                                          26.0000
Beesley, Mr. Lawrence                                         13.0000
McGowan, Miss. Anna "Annie"                                    8.0292
Sloper, Mr. William Thompson                                  35.5000
Palsson, Miss. Torborg Danira                                 21.0750
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)     31.3875
Emir, Mr. Farred Chehab                                        7.2250
Fortune, Mr. Charles Alexander                               263.0000
O'Dwyer, Miss. Ellen "Nellie"                                  7.8792
Todoroff, Mr. Lalio                                            7.8958
                                                               ...
Giles, Mr. Frederick Edward                                   11.5000
Swift, Mrs. Frederick Joel (Margaret Welles Barron)           25.9292
Sage, Miss. Dorothy Edith "Dolly"                             69.5500
Gill, Mr. John William                                        13.0000
Bystrom, Mrs. (Karolina)                                      13.0000
Duran y More, Miss. Asuncion                                  13.8583
Roebling, Mr. Washington Augustus II                          50.4958
van Melkebeke, Mr. Philemon                                    9.5000
Johnson, Master. Harold Theodor                               11.1333
Balkic, Mr. Cerin                                              7.8958
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)              52.5542
Carlsson, Mr. Frans Olof                                       5.0000
Vander Cruyssen, Mr. Victor                                    9.0000
Abelson, Mrs. Samuel (Hannah Wizosky)                         24.0000
Najib, Miss. Adele Kiamie "Jane"                               7.2250
Gustafsson, Mr. Alfred Ossian                                  9.8458
Petroff, Mr. Nedelio                                           7.8958
Laleff, Mr. Kristo                                             7.8958
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)                 83.1583
Shelley, Mrs. William (Imanita Parrish Hall)                  26.0000
Markun, Mr. Johann                                             7.8958
Dahlberg, Miss. Gerda Ulrika                                  10.5167
Banfield, Mr. Frederick James                                 10.5000
Sutehall, Mr. Henry Jr                                         7.0500
Rice, Mrs. William (Margaret Norton)                          29.1250
Montvila, Rev. Juozas                                         13.0000
Graham, Miss. Margaret Edith                                  30.0000
Johnston, Miss. Catherine Helen "Carrie"                      23.4500
Behr, Mr. Karl Howell                                         30.0000
Dooley, Mr. Patrick                                            7.7500
Length: 891, dtype: float64

In [22]:
import numpy as np
print(np.add(series_fare,series_fare).head())
print("-------------")
print(series_fare.head())
print("-------------")
print(np.sin(series_fare).head())
print("-----------")
print(np.max(series_fare))

0     14.5000
1    142.5666
2     15.8500
3    106.2000
4     16.1000
Name: Fare, dtype: float64
-------------
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64
-------------
0    0.823081
1    0.826764
2    0.997479
3    0.302272
4    0.980850
Name: Fare, dtype: float64
-----------
512.3292

In [23]:
#Series的加法
fare=Series(titanic_survival["Fare"].values,index=titanic_survival["Name"])
fare_mean=(fare+fare)/2
print(fare_mean)

Name
Braund, Mr. Owen Harris                                        7.2500
Cumings, Mrs. John Bradley (Florence Briggs Thayer)           71.2833
Heikkinen, Miss. Laina                                         7.9250
Futrelle, Mrs. Jacques Heath (Lily May Peel)                  53.1000
Allen, Mr. William Henry                                       8.0500
Moran, Mr. James                                               8.4583
McCarthy, Mr. Timothy J                                       51.8625
Palsson, Master. Gosta Leonard                                21.0750
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)             11.1333
Nasser, Mrs. Nicholas (Adele Achem)                           30.0708
Sandstrom, Miss. Marguerite Rut                               16.7000
Bonnell, Miss. Elizabeth                                      26.5500
Saundercock, Mr. William Henry                                 8.0500
Andersson, Mr. Anders Johan                                   31.2750
Vestrom, Miss. Hulda Amanda Adolfina                           7.8542
Hewlett, Mrs. (Mary D Kingcome)                               16.0000
Rice, Master. Eugene                                          29.1250
Williams, Mr. Charles Eugene                                  13.0000
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)       18.0000
Masselmani, Mrs. Fatima                                        7.2250
Fynney, Mr. Joseph J                                          26.0000
Beesley, Mr. Lawrence                                         13.0000
McGowan, Miss. Anna "Annie"                                    8.0292
Sloper, Mr. William Thompson                                  35.5000
Palsson, Miss. Torborg Danira                                 21.0750
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)     31.3875
Emir, Mr. Farred Chehab                                        7.2250
Fortune, Mr. Charles Alexander                               263.0000
O'Dwyer, Miss. Ellen "Nellie"                                  7.8792
Todoroff, Mr. Lalio                                            7.8958
                                                               ...
Giles, Mr. Frederick Edward                                   11.5000
Swift, Mrs. Frederick Joel (Margaret Welles Barron)           25.9292
Sage, Miss. Dorothy Edith "Dolly"                             69.5500
Gill, Mr. John William                                        13.0000
Bystrom, Mrs. (Karolina)                                      13.0000
Duran y More, Miss. Asuncion                                  13.8583
Roebling, Mr. Washington Augustus II                          50.4958
van Melkebeke, Mr. Philemon                                    9.5000
Johnson, Master. Harold Theodor                               11.1333
Balkic, Mr. Cerin                                              7.8958
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)              52.5542
Carlsson, Mr. Frans Olof                                       5.0000
Vander Cruyssen, Mr. Victor                                    9.0000
Abelson, Mrs. Samuel (Hannah Wizosky)                         24.0000
Najib, Miss. Adele Kiamie "Jane"                               7.2250
Gustafsson, Mr. Alfred Ossian                                  9.8458
Petroff, Mr. Nedelio                                           7.8958
Laleff, Mr. Kristo                                             7.8958
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)                 83.1583
Shelley, Mrs. William (Imanita Parrish Hall)                  26.0000
Markun, Mr. Johann                                             7.8958
Dahlberg, Miss. Gerda Ulrika                                  10.5167
Banfield, Mr. Frederick James                                 10.5000
Sutehall, Mr. Henry Jr                                         7.0500
Rice, Mrs. William (Margaret Norton)                          29.1250
Montvila, Rev. Juozas                                         13.0000
Graham, Miss. Margaret Edith                                  30.0000
Johnston, Miss. Catherine Helen "Carrie"                      23.4500
Behr, Mr. Karl Howell                                         30.0000
Dooley, Mr. Patrick                                            7.7500
Length: 891, dtype: float64

In [29]:
titanic_survival=pd.read_csv("titanic_train.csv")
# series_fare=titanic_survival['Fare']
name_ind_titanic=titanic_survival.set_index("Name",drop=False)
# print(name_ind_titanic.head())
print(name_ind_titanic.loc["Braund, Mr. Owen Harris"])

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                                 22
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Cabin                              NaN
Embarked                             S
Name: Braund, Mr. Owen Harris, dtype: object

In [49]:
#先求类型为float64所在的列，然后求这些列的标准差
types=titanic_survival.dtypes
# print(types)
float_columns=types[types.values == 'float64'].index
# print(float_columns)
float_df=titanic_survival[float_columns]
# print(float_df)
#np.std求标准差
deviations=float_df.apply(lambda x:np.std(x))
print(deviations)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
Age     14.516321
Fare    49.665534
dtype: float64